/* Base Application Styles */
body {
  color: #222;
  background: #fff;
}

.input-container {
  width: 50%;
  display: inline-block;

  @at-root .input-box {
    width: 80%;
    margin-left: 10%;

    @at-root .input-info {
      margin: 20px 2.5%;
      width: 95%;

      .input-info-title {
        font-size: 18px;
        font-weight: 900;
        color: #333;
      }

      .input-info-description {
        font-size: 16px;
        color: #666;
      }
    }
  }

  @at-root .input-number, .input-letter {
    input {
      width: 25%;
      margin: 0 2.5%;
    }
  }

  .input-value {
    input {
      width: 95;
      margin: 0 2.5%;
    }
  }

  .error-info {
    color: red;
    padding: 0 20px;
    font-size: 16px;
  }
}

.ant-card {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
  min-height: 200px;
  border: 1px solid #aaa;
  border-radius: 10px;
  vertical-align: top;

  .ant-card-head {
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #aaa;
  }
  .ant-card-body {
    padding: 10px;
    overflow: hidden;
  }
}
